<!DOCTYPE html>
<html>
    <form action="submit" method="post">
        <p> User: <input name="User" type="text" maxlength="12" minlength="3" size="12" placeholder="請在此輸入"></p>
        <p> Password: <input name="Password" type="password" maxlength="12" minlength="3" size="12" placeholder="請在此輸入"></p>
        <p> Number: <input name="Number" type="number" maxlength="12" minlength="3" size="12" placeholder="請在此輸入"></p>
        <p></p>
        <input type="submit" value="Send Request" >
    </form>
</html>